<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
  <add key="Box1" value="NumPad1" />
  <add key="Box2" value="NumPad2" />
  <add key="Box3" value="NumPad3" />
  <add key="Box4" value="NumPad4" />
  <add key="Box5" value="NumPad5" />
  <add key="Box6" value="NumPad6" />
  <add key="XPos" value="1573" />
  <add key="YPos" value="636" />
 </appSettings>
</configuration>